<ion-header>
  <ion-toolbar>
    <ion-title>details</ion-title>
  </ion-toolbar>
  <ion-buttons end>
      <button ion-button incon-only style="font-size: 1.7em" (click)=toggleFavorite()>
        <ion-icon [name]="isFavorite ? 'star':'star-outline'"></ion-icon>
      </button>
    </ion-buttons>
</ion-header>

<ion-content padding>
          <div *ngIf="mediaSearchById">
              <ion-grid>
                  <ion-row justify-content-center align-items-center>
              <ion-card>
                  <ion-card-header>
                    <ion-card-title>{{ mediaSearchById.Title }}</ion-card-title>
                    <ion-card-subtitle>Genre : {{ mediaSearchById.Genre }} </ion-card-subtitle>
                    <ion-card-subtitle> Année : {{ mediaSearchById.Year }} </ion-card-subtitle>
                  </ion-card-header>
                
                  <ion-card-content>

                      <div *ngIf="(!mediaSearchById || mediaSearchById.Poster == 'N/A'), else elseBlockPosterImg ">
                        <p>Aucun poster</p>
                      </div>
                      <ng-template #elseBlockPosterImg>
                          <img src={{mediaSearchById.Poster}} alt={{mediaSearchById.Title}}>
                      </ng-template>
                      <p>Recommendation d'âge : {{ mediaSearchById.Rated }} </p>
                      <p>Mise en vente : {{ mediaSearchById.Released }} </p>
                      <p>Durée : {{ mediaSearchById.Runtime }} </p>
            
                      <p>Réalisateur : {{ mediaSearchById.Director }} </p>
                      <p> Auteur : {{ mediaSearchById.Writer }}</p>
                      <p> Acteur : {{ mediaSearchById.Actors }} </p>
                      <p>Plot : {{ mediaSearchById.Plot }} </p>
                      <p> Langue :{{ mediaSearchById.Language }} </p>
                      <p>Pays : {{ mediaSearchById.Country }} </p>
                      <p>Prix : {{ mediaSearchById.Awards }} </p>
                      <ion-card>
                          <li *ngFor="let seasonNumber of fakeArray" (click)="clickItem(seasonNumber)" >Saison n° {{ seasonNumber }}</li>
                      </ion-card>
                  </ion-card-content>
                </ion-card>
              </ion-row>
              </ion-grid>

        </div>

</ion-content>