<ion-header>
  <ion-toolbar>
    <ion-title>details</ion-title>
  </ion-toolbar>
  <ion-buttons end>
      <button ion-button incon-only style="font-size: 1.7em" (click)=toggleFavorite()>
        <ion-icon [name]="isFavorite ? 'star':'star-outline'"></ion-icon>
      </button>
    </ion-buttons>
</ion-header>

<ion-content padding>

    <div *ngIf="(!mediaSearchById || mediaSearchById.Poster == 'N/A'), else elseBlockPosterImg ">
      <p>Aucun poster</p>
    </div>
    <ng-template #elseBlockPosterImg>
        <img src={{mediaSearchById.Poster}} alt={{mediaSearchById.Title}}>
    </ng-template>
          <div *ngIf="mediaSearchById">
          
          {{ mediaSearchById.Title }}
          {{ mediaSearchById.Year }}
          {{ mediaSearchById.Rated }}
          {{ mediaSearchById.Released }}
          {{ mediaSearchById.Runtime }}
          {{ mediaSearchById.Genre }}

          {{ mediaSearchById.Director }}
          {{ mediaSearchById.Writer }}
          {{ mediaSearchById.Actors }}
          {{ mediaSearchById.Plot }}
          {{ mediaSearchById.Language }}
          {{ mediaSearchById.Country }}
          {{ mediaSearchById.Awards }}
        </div>
            <li *ngFor="let seasonNumber of fakeArray" (click)="clickItem(seasonNumber)" >Saison n° {{ seasonNumber }}</li>
</ion-content>